*{
	margin: auto;
	padding: 0;
	color: #706161;
}

.header{
	text-align: center;
	margin: 30px 30px 10px 30px;
}

.table{
	margin-top: 10px;
	width: 90%;
}
table{
	border-collapse: collapse;
}
table tr td, table tr th{
	padding: 10px;
	border: 1px solid black;
}

a{
	text-decoration: none;
	color: blue;
}

.create-data, .search-data{
	border: 0px;
}

.search-data input{
	height: 23px;
}

div.pagination{
	text-align: center;
	margin-top: 50px;
}

.pagination a{
	border: 1px solid black;
	padding: 10px 15px;
}